* {
    box-sizing: border-box;
}
#preloader{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: black;
    z-index: 500;
}
#layer1{
    position: absolute;
    top: 46vh;
    left: 46vw;
    width: 8vw;
    height: 8vw;
    border: 0.5vw solid black;
    border-right: 0.5vw rgb(184, 29, 29) solid;
    z-index: 1000;
    border-radius: 50%;
    animation: loader 2s ease-in-out infinite;
    /* margin: 50vw; */
    /* background-color: wheat; */
}
@keyframes loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

body {
    flex-direction: column;
    background-color: rgba(7, 1, 19, 0.822);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6vh;
    height: 100vh;
}

#title {
    background-color: #1047eb8c;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 0 5px;
    /* height: 8vh; */
    font-family: 'Roboto', sans-serif;
    color: #15ce8c;
    box-shadow: 4px 4px 10px #c81859;
}

#title h2 {
    /* padding: 0 10px; */
    margin: 0px;
}

#clock_body {
    height: 50vh;
    width: 50vh;
    /* background-color: green; */
    border-radius: 50%;
    border: solid;
    position: relative;
    overflow: hidden;
    border: 4px solid rgb(29, 28, 28);
    box-shadow: 7px 7px 20px rgb(220, 219, 222), -7px -7px 20px white;
}

#clock_body>div {
    position: absolute;
    /*position absolute sends every member to the beginning of parent container and thus they can overlap*/
}

.beneth {
    /* background-color: rgb(223, 222, 222); */
    width: 100%;
    height: 100%;
}

.beneth>div {
    width: 100%;
    height: 1px;
    /* background-color: rgb(118, 117, 117); */
    background-color: rgb(249, 248, 248);
    position: absolute;
    transform-origin: 50% 50%;
    /*transform origin shift the origin for transformation. By default it is center Transformtion occurs about that origin.*/
    top: calc(50% - 0.5px);
    /*Using percentage takes value of parent. It works relative to parent*/

}

.beneth>div:nth-child(5n+1) {
    height: 2px;
    top: calc(50% - 1px);
    /* background-color: black; */
    background-color: rgb(249, 115, 5);
}

.beneth>div:nth-child(15n+1) {
    background-color: transparent;
    border-style: solid none;
    height: 8px;
    top: calc(50% - 4px);
    background-color: rgb(238, 17, 50);
    border-color: white;
}

.top {
    background-color: rgba(7, 1, 19, 0.953);
    width: calc(100% - 30px);
    /*Here 100% means 100% of parent element*/
    height: calc(100% - 30px);
    top: 15px;
    left: 15px;
    border-radius: 50%;
}

.top>div {
    position: absolute;
    transform: rotate(-90deg);
}

/*  */

#hour {
    height: 10px;
    background-color: white;
    width: 30%;
    top: calc(50% - 5px);
    transform-origin: 0% 50%;
    left: 50%;
    /* transform: rotate(0deg); */
    border-radius: 100px;
    /* transition: all 1s ease; */
}

#minute {
    height: 5px;
    background-color: white;
    width: 40%;
    top: calc(50% - 2.5px);
    transform-origin: 0% 50%;
    left: 50%;
    /* transform: rotate(deg); */
    border-radius: 100px;
    /* transition: all 1s ease-in-out; */
}

#second {
    height: 2px;
    background-color: black;
    width: calc(50% - 1px);
    top: calc(50% - 1px);
    transform-origin: 0% 50%;
    left: 50%;
    /* transform: rotate(150deg); */
    border-radius: 100px;
    background-color: rgb(220, 10, 10);
}

#circle {
    width: 15px;
    height: 15px;
    background-color: rgb(135, 133, 133);
    transform-origin: 50% 50%;
    top: calc(50% - 7.5px);
    left: calc(50% - 7.5px);
    border-radius: 50%;
}

/*  */
#alarm {
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

#ring {
    top: 0px;
    left: 50%;
    padding: 2px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.3rem;
    color: #15ce8c;
    background-color: #1047eb8c;
    box-shadow: 1px 1px 5px 1px rgb(128, 124, 126);
    /* margin-left: calc(50vw - 5vw); */
    margin-bottom: 5px;
    /* position: fixed; */

}

#ring:hover {
    cursor: pointer;
}

#alarmlist {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#alarmlist>div {
    background-color: white;
    width: 25vw;
    height: 5vh;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 1000;
    font-size: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 4px 4px 9px 0px #8a8a8a Inset, 2px 2px 11px 2px #d4d4d4 Inset;
}

#alarmlist div button {
    background-color: rgb(173, 173, 182);
    font-size: 1.1rem;
    font-weight: 500;
    box-shadow: 1px 1px 2px 2px rgb(173, 173, 182);
}

#alarmlist div button::hover {
    cursor: pointer;
}
@media screen and (max-width:1000px)
{
    #clock_body{
        width: 40vh;
        height: 40vh;
    }
}
@media screen and (max-width:800px)
{
    #clock_body{
        width: 30vh;
        height: 30vh;
    }
    #title{
        font-size: 1.2rem;
        font-weight: 500;
    }
    body{
        gap: 100px;
    }
    #alarmlist>div{
        width: 60vw;
    }
}